@import './config';

.App {
  text-align: center;
}

#calculator{
  background: black;
  margin: 20vh auto 0 auto;
  width: 240px;
  padding: 6px;
}

.display{
  width: 240px;
  height: 80px;
}

.formula-screen{
  text-align: right;
  height: 20px;
  color: orangered;
  font-size: 1rem;
}

.output-screen{
  text-align: right;
  height: 50px;
  color: yellow;
  font-size: 2rem;
}

.btns-container{
  background: black;
  width: 240px;
  display: block;
}
  
.button{
  position: relative;
  height: 60px;
  width: 60px;
  border: 1px solid black;
  background: rgb(85, 85, 85);
  color: lightgoldenrodyellow;
}

.button:hover{
  background: gray;
  color: black;
}

.btn-text{
  text-align: center;
}

#clear{
  background: rgb(245, 72, 72);
  width: 120px;
}

#clear:hover{
  background: rgb(255, 27, 27);
}

#zero{
  width: 120px;
}

#equal{
  background: rgb(68, 68, 252);
  position: absolute;
  margin-top: -60px;
  height: 120px;
}

#equal:hover{
  background: rgb(38, 38, 248);
}
